<br>
<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <table class="table-bordered">
        <tr>
          <th>Name</th>
          <th>Weight</th>
          <th>Availability</th>
          <th>isEditable</th>
        </tr>
        <ng-container *ngFor="let data of productList;index as i">
          <tr>
            <td>{{data.name}}</td>
            <td>{{data.weight}}</td>
            <td>{{data.availability}}</td>
            <td><button type="button" class="btn btn-primary" (click)="onEdit(i)" *ngIf="data.isEditable">
                Edit
              </button>

            </td>
          </tr>
        </ng-container>

      </table>
    </div>
    <div class="Col-2">

    </div>
  </div>
</div>